<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="brandpost.dev.flashback_2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme">

        <meta-data android:name="com.google.android.gms.version"
            tools:replace="android:value"
            android:value="6587000" />


        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity   android:name=".ForumsActivity"
                    android:parentActivityName=".MainActivity"
                    android:launchMode="singleTop"
                    android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity   android:name=".ThreadsActivity"
                    android:parentActivityName=".ForumsActivity"
                    android:launchMode="singleTop"
                    android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ForumsActivity" />
        </activity>

        <activity   android:name=".ThreadActivity"
                    android:screenOrientation="portrait"></activity>

    </application>

</manifest>
